################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/BowlingBot_code/v16/Browse.VC.opendb
/.vs/BowlingBot_code/v16/Browse.VC.db-wal
/.vs/BowlingBot_code/v16/Browse.VC.db-shm
/.vs/BowlingBot_code/v16/Browse.VC.db
